%h4
	= "Polls matching search key "
	%i
		#{@search_key}

- @polls.each do |poll|
	.row
		= link_to "#{poll.name}", poll_path(poll)
		= link_to( image_tag(poll.avatar_1_url(:general)), poll_path(poll), :class=>"work")
		= link_to( image_tag(poll.avatar_2_url(:general)), poll_path(poll), :class=>"work")
