= "Poll Details"

= @poll.name
= @poll.description	

= @poll.vote_option_1	
= image_tag @poll.avatar_1_url(:general)

= @poll.vote_option_2
= image_tag @poll.avatar_2_url(:general)

%canvas#canvas
  = image_tag @poll.avatar_1_url(:general), :id => "imageOne"
  = image_tag @poll.avatar_2_url(:general), :id => "imageTwo"





.votes-details
  %h4
    = "Total votes polled: #{@votes_details[0]}"
    %br
    = "Votes polled for first option: #{@votes_details[1]}"
    %br
    = "Votes polled for second option: #{@votes_details[2]}"

- if @can_edit
  = link_to 'Update the poll', edit_poll_path(@poll)
  = link_to 'Delete the poll', delete_polls_path(@poll)

- else
  - if @voted
    = form_for @vote,url: vote_path(@vote), method: 'put' do |f|
      - if @vote.voted_option == 1
        = f.radio_button :voted_option, "#{@poll.vote_option_1}", :checked => true
        = label :vote_option_1, "#{@poll.vote_option_1}"
        = f.radio_button :voted_option, "#{@poll.vote_option_2}"
        = label :vote_option_2, "#{@poll.vote_option_2}"
      - else
        = f.radio_button :voted_option, "#{@poll.vote_option_1}"
        = label :vote_option_1, "#{@poll.vote_option_1}"
        = f.radio_button :voted_option, "#{@poll.vote_option_2}", :checked => true
        = label :vote_option_2, "#{@poll.vote_option_2}"
      = f.submit 'Update your Vote'
  - else
    = form_for(@vote) do |f|
      = f.hidden_field :poll_id, :value => @poll.slug 
      = f.radio_button :voted_option, "#{@poll.vote_option_1}", :checked => true
      = label :vote_option_1, "#{@poll.vote_option_1}"
      = f.radio_button :voted_option, "#{@poll.vote_option_2}"
      = label :vote_option_2, "#{@poll.vote_option_2}"
      = f.submit 'Cast your Vote'

.comments
  = form_for @comment, url: comments_path do |f|
    = f.hidden_field :poll_id, :value => @poll.slug 
    = f.text_area :body, rows: "2"
    = f.submit "Add Comment"

  - @poll.comments.each do |comment|
    = "Commented by #{comment.user.name}"
    %br
    = "#{comment.body}"
    - if @can_edit
      = link_to 'Update', edit_comment_path(comment)
      = link_to 'Delete', delete_comments_path(comment)
