= form_for current_user, url: update_passwords_path, method: 'put' do |f|
  - if f.object.encrypted_password.present?
    .field
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password, autocomplete: "off"
  .field
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .actions
    = f.submit "Update Password"