!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PollBanter
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag :defaults

    = csrf_meta_tags
  %body
    #flash
    - flash.each do |type, message|
      - if type == 'notice'
        - msg_type = 'success'
      - elsif type == 'alert'
        -msg_type = 'warning'
      - elsif type == 'error'
        -msg_type = 'danger'
      .alert.alert-dismissible.text-center{:role => "alert", class: "alert-#{msg_type}"}
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        = message.html_safe
    #main-body
      = yield

